<app-header />

<main>
    <ul id = "users-list">
        <li>
            <!-- Los 3 primeros son elementos Input por lo que nosotros le damos los valores-->
            <app-user
                [user]="users[0]"
                (selectUser)="onUserSelected($event)"
            /> <!-- El último es un Output, por lo que nosotros le decimos que hacer.
                    Usamos el $event de angular para almacenar el valor -->
        </li>
        <li>
            <app-user
                [user]="users[1]"
                (selectUser)="onUserSelected($event)"
            />
        </li>
        <li>
            <app-user
                [user]="users[2]"
                (selectUser)="onUserSelected($event)"
            />
        </li>
        <li>
            <app-user
                [user]="users[3]"
                (selectUser)="onUserSelected($event)"
            />
        </li>
        <li>
            <app-user
                [user]="users[4]"
                (selectUser)="onUserSelected($event)"
            />
        </li>
        <li>
            <app-user
                [user]="users[5]"
                (selectUser)="onUserSelected($event)"
            />
        </li>
    </ul>

    <user-task
        [userName]="selectedUserName"
    />
</main>